
@import "../node_modules/bootstrap/scss/bootstrap";

@import '_color.scss';


.body{
    background-color: $white;
}

.primary-background{
    background-color: $primary;
}

.white-text-color{
    color: $white !important; 
}

.body-margin{
    margin: 0 220px 0 220px !important;
}